body {
    background-color: lightgrey;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 800px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
}


nav {
    height: 135px;
    text-align: center;
    position: sticky;
    top: -25px;
    padding: 25px 40px;
    padding-bottom: 180px;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
    font-family: serif;
    font-size: 20px;
    border: solid black 2px;
    text-align: center;
    margin: 0 48px;
    border-radius: 4px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
}

a {
    text-decoration: none;
    color: black;
}

a.about:hover {
    color: blue;
}

a.media:hover {
    color: green;
}

a.bio:hover {
    color: pink;
}

h1 {
    text-align: center;
    color: rgb(34, 38, 41);
    background-color: rgb(21, 204, 143);
    font-size: 75px;
    width: fit-content;
    padding: 0 20px;
    font-family: sans-serif;
    margin: 0 auto;
}

h2 {
    text-align: left;
    font-family: sans-serif;
}

.about h2 {
    color: blue;
}

.media h2 {
    color: green;
}

.bio h2 {
    color: pink;
}

p {
    font-size: 18px;
    color: rgb(34, 38, 41);
    font-family: serif;
}

section {
    margin-bottom: 180px;
}

.img-box-1 {
    display: inline-block;
    width: 400px;

}
.img-box-2 {
    display: inline-block;
    width: 400px;
    text-align: right;
    vertical-align: top;
    height: 400px;
}
.top-img {
    margin-bottom: 100px;
}
.collapse-whitespace {
    font-size: 0;
}

footer {
    text-align: right;
    padding-bottom: 20px;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: blue;
}